<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Code Reading Dojo</title>

  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">Code Readind Dojo</h3>
      </div>

      <div class="jumbotron">
        <h1 class="display-3">Want to win a $10 Amazon Gift Card?</h1>
        <p class="lead">All people who have completed through level 6 in the game by January 31st 2017 will be entered into a raffle where 20 players will be selected each to receive a $10 Amazon gift card.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Download from Google Play</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>What is CodeReadingDojo?</h4>
          <p>
            <strong class="keyword">CodeReadingDojo</strong> is a new educationally-oriented Android game application aimed at promoting the development of reading codes and finding errors in a new and fun way.
            It is accessible through Google Play Store for all students who are interested in improving their code reading skills.
            Of the numerous programming languages, we have selected Java, because it is one of the most popular programming languages.
          </p>

          <p class="col-lg-6">
            <%= image_tag("/assets/images/logo.png", id: 'logo') %>
          </p>

        </div>

        <div class="col-lg-6">
          <h4>About Us</h4>
          <p>
          I am <strong class="name">Zahra Ghaed</strong>, a master's student at the department of <strong class="keyword">Computer Science at Virginia Tech</strong>. I am working under the supervision of <strong class="name">Professor Stephen Edwards</strong> and CodeReadingDojo is part of my Master's research.
        </p>

          <h4>Contact Us</h4>
          <p>
            If you have any questions about this application, you may contact me, Zahra Ghaed, at <strong class="name">ghaed@vt.edu</strong> or Prof. Stephen Edwards, edwards@cs.vt.edu.
          </p>


        </div>
      </div>

      <footer class="footer">
        <p> Copyright &copy; 2016-2017. Virginia Tech</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
