<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>CodeReadingDojo Privacy Statement</title>

  </head>

  <body>

    <div class="blog-header">
      <div class="container">
        <a href="home"><h1 class="blog-title">CodeReadingDojo</h1></a>
        <p class="lead blog-description">An educationally-oriented Android game.</p>
      </div>
    </div>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Privacy Statement</h2>
            <p class="blog-post-meta">January 28, 2017 by <a href="#">Zahra Ghaed</a></p>

            <p>We have created this privacy statement in order demonstrate our firm commitment to privacy. The following discloses the information gathering and dissemination practices for this Android application.</p>
            <!-- <p>
              This privacy policy governs your use of the software application CodeReadingDojo for Android devices that is created by Zahra Ghaed.
            </p>
            <p>
              CodeReadingDojo is a new educationally-oriented mobile game application, aimed at promoting the development of code reading skills in a new and fun way.
            </p> -->
            <hr>

            <h3>Information Automatically Logged</h3>
            <p>
              The Application obtains the information you provide after downloading and registration. Registration with us is mandatory to be able to use the basic features of the Application.
            </p>
            <p>
              CodeReadingDojo records level completed, time to click on each word, and whether the word you clicked is an error or not.
            </p>
            <p>
              Data collected during the project will help evaluate the impact of game-based learning on code reading, and results will be published in academic papers and a master’s thesis.
            </p>
            <p>
              We do not share logged information with any third parties.
            </p>

            <h3>Personal Information</h3>
            <p>
              When you register on CodeReadingDojo and use the Application, you provide an email address (username) and password.
            </p>
            <p>
              We may use the information you provided us (email address) to contact you and provide with important information regarding winning $10 Amazon Gift Card.
            </p>
            <p>
              You may also complete your profile and add your age and gender.
            </p>
            <p>
              All data obtained from participants will be kept confidential and will only be reported in combined format. We won’t use your name or any other personally identifiable information in any publications.
            </p>
            <p>
              We do not share any personal information with any third parties.
            </p>

            <h3>Opt-out Rights</h3>
            <p>
              You are free not to answer any questions or withdraw from this study at any time, for any reason.
            </p>

            <h3>Data Retention Policy, Managing Your Information</h3>
            <p>
              We will retain User Provided data for as long as you use the Application and for a reasonable time thereafter. We will retain Automatically Collected information until publishing the results and thereafter may store it in aggregate. If you’d like us to delete User Provided Data that you have provided via the Application, please contact us at ghaed@vt.edu, and we will respond in a reasonable time.
            </p>



            <h3>Minors</h3>
            <p>
              We do not use the Application to knowingly solicit data from or market to people under the age of 18. If a parent or guardian becomes aware that his or her child has provided us with information without their consent, he or she should contact us at ghaed@vt.edu. We will delete such information from our files within a reasonable time.
            </p>


            <h3>Security</h3>
            <p>
              We are concerned about safeguarding the confidentiality of your information. We provide security to protect the information we process and maintain. For example, password information is encrypted before it is transmitted across the network. We also limit access to this information to investigators of this research study to know that information in order to operate, develop or improve our Application.
            </p>
            <p>
              Please be aware that, although we endeavor to provide reasonable security for information we process and maintain, no security system can prevent all potential security breaches.
            </p>

            <h3>Changes</h3>
            <p>
              This Privacy Policy may be updated from time to time for any reason. We will notify you of any changes to our Privacy Policy by posting the new Privacy Policy here. You are advised to consult this Privacy Policy regularly for any changes, as continued use is deemed approval of all changes.
            </p>

            <h3>Your Consent</h3>
            <p>
              By using the Application, you are consenting to our processing of your information as outlined in this Privacy Policy now and as amended by us. "Processing,” means touching information, including, collecting, storing, deleting, using, combining and disclosing information.
            </p>


            <h3>Contact Information</h3>
            <p>
              If you have any questions regarding privacy while using the Application, or have questions about our practices, please contact me, Zahra Ghaed (principal investigator), at 540-449-5717, ghaed@vt.edu or Prof. Stephen Edwards, edwards@cs.vt.edu.
            </p>
          </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <p>
              <%= image_tag("/assets/images/logo.png", id: 'logo') %>
            </p>
            <h4>About</h4>
            <p>
              CodeReadingDojo is a new educationally-oriented mobile game application, aimed at promoting the development of code reading skills in a new and fun way.
            </p>    </div>
          <div class="sidebar-module">
            <h4>Contact</h4>
            <ol class="list-unstyled">

              <li><a href="#">Zahra Ghaed </a>(Primary investigator)
              <strong>ghaed@vt.edu</strong></li>
              <li><a href="#">Prof. Stephen Edwards</a>
                edwards@cs.vt.edu</li>
            </ol>
          </div>
        
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
  </body>
</html>
