<!DOCTYPE html>
<html>
  <head>
    <title>CodeReadingDojo</title>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
